<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>net.intellectsoft.project</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>Name</key>
					<string>SwiftLint</string>
					<key>ShellScript</key>
					<string>if [ -f &quot;${PODS_ROOT}/SwiftLint/swiftlint&quot; ]; then
&quot;${PODS_ROOT}/SwiftLint/swiftlint&quot;
fi</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>Name</key>
					<string>R.swift</string>
					<key>ShellScript</key>
					<string># Type a script or drag a script file from your workspace to insert its path.
&quot;$PODS_ROOT/R.swift/rswift&quot; generate &quot;$SRCROOT/___PACKAGENAME___/Resources&quot;</string>
				</dict>
			</array>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>SERVER_HOST</key>
				<string>dev1.project.clusters.isdev.info</string>
				<key>SERVER_URL</key>
				<string>https://$(SERVER_HOST)/api/v1/</string>
				<key>SWIFT_VERSION</key>
				<string>4.2</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
			</dict>
		</dict>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Options</key>
	<array/>
	<key>Nodes</key>
	<array>
		<string>Sources/AppDelegate.swift</string>
		<string>Sources/BusinessLayer/Configuration.swift</string>
		<string>Sources/BusinessLayer/Services/Navigation/NavigationManager.swift</string>
		<string>Sources/BusinessLayer/Services/Navigation/NavigationContract.swift</string>
		<string>Sources/BusinessLayer/Services/Networking/NetworkManager.swift</string>
		<string>Sources/BusinessLayer/Services/Networking/NetworkContract.swift</string>
		<string>Sources/BusinessLayer/Services/Networking/API/AuthServicesRequest.swift</string>
		<string>Sources/BusinessLayer/Services/Networking/Plugins/NetworkAccessTokenPlugin.swift</string>
		<string>Sources/BusinessLayer/Services/Networking/Plugins/NetworkErrorPlugin.swift</string>
		<string>Sources/BusinessLayer/Services/PushNotifications/PushNotificationsManager.swift</string>
		<string>Sources/BusinessLayer/Services/PushNotifications/PushNotificationsContract.swift</string>
		<string>Sources/BusinessLayer/Services/Session/SessionManager.swift</string>
		<string>Sources/BusinessLayer/Services/Session/SessionContract.swift</string>
		<string>Sources/BusinessLayer/Services/ServicesContract.swift</string>
		<string>Sources/CoreLayer/Utilities/CancellationToken.swift</string>
		<string>Sources/CoreLayer/Utilities/Network/NetworkError.swift</string>
		<string>Sources/CoreLayer/Utilities/Network/NetworkProgress.swift</string>
		<string>Sources/CoreLayer/Utilities/Network/NetworkProvider.swift</string>
		<string>Sources/CoreLayer/Utilities/Network/NetworkProviderBuilder.swift</string>
		<string>Sources/CoreLayer/Utilities/Network/NetworkRequestCancellation.swift</string>
		<string>Sources/CoreLayer/Utilities/Network/NetworkTargetRoute.swift</string>
		<string>Sources/CoreLayer/Utilities/Network/NetworkTargetType.swift</string>
		<string>Sources/PresentationLayer/Base/BaseContract.swift</string>
		<string>Sources/PresentationLayer/Base/BaseNavigationController.swift</string>
		<string>Sources/PresentationLayer/Base/BaseRouter.swift</string>
		<string>Sources/PresentationLayer/Base/BaseViewController.swift</string>
		<string>Sources/PresentationLayer/Main/MainContract.swift</string>
		<string>Sources/PresentationLayer/Main/MainPresenter.swift</string>
		<string>Sources/PresentationLayer/Main/MainRouter.swift</string>
		<string>Resources/Base.lproj/LaunchScreen.storyboard</string>
		<string>Resources/Base.lproj/Localization.strings</string>
		<string>Resources/Assets.xcassets</string>
		<string>../.swiftlint.yml</string>
		<string>../.gitignore</string>
		<string>../Podfile</string>
		<string>../fastlane/Fastfile</string>
		<string>Info.plist:iPhone</string>
		<string>Info.plist:UIRequiredDeviceCapabilities:base</string>
		<string>Info.plist:LaunchScreen</string>
		<string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
		<string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
		<string>Info.plist:ServerUrl</string>
		<string>Resources/R.generated.swift</string>
		<string>Resources/awsconfiguration.json</string>
		<string>Sources/CoreLayer/Extensions/JSONDecoder+iso8601.swift</string>
		<string>Sources/CoreLayer/Extensions/JSONEncoder+iso8601.swift</string>
		<string>Sources/CoreLayer/Extensions/UIImageView+URL.swift</string>
		<string>Sources/CoreLayer/Extensions/UIVIew+Constraints.swift</string>
		<string>Sources/BusinessLayer/Services/Auth/AuthCotract.swift</string>
		<string>Sources/BusinessLayer/Services/Auth/AuthManager.swift</string>
		<string>Sources/BusinessLayer/Services/URLActions/URLActionsManager.swift</string>
		<string>Sources/BusinessLayer/Services/URLActions/URLActionsContract.swift</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Resources/R.generated.swift</key>
		<dict>
			<key>Path</key>
			<string>Resources/R.generated.swift</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>
		<key>Resources/awsconfiguration.json</key>
		<dict>
			<key>Path</key>
			<string>Resources/awsconfiguration.json</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>
		<key>Info.plist:ServerUrl</key>
		<string>&lt;key&gt;ServerURL&lt;/key&gt;
&lt;string&gt;$(SERVER_URL)&lt;/string&gt;</string>
		<key>Info.plist:iPhone</key>
		<string>&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;
</string>
		<key>Info.plist:UIRequiredDeviceCapabilities</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;</string>
			<key>End</key>
			<string>&lt;/array&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Info.plist:UIRequiredDeviceCapabilities:base</key>
		<string>&lt;string&gt;armv7&lt;/string&gt;</string>
		<key>Info.plist:statusBarTintForNavBar</key>
		<string>&lt;key&gt;UIStatusBarTintParameters&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;UINavigationBar&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;Style&lt;/key&gt;
        &lt;string&gt;UIBarStyleDefault&lt;/string&gt;
        &lt;key&gt;Translucent&lt;/key&gt;
        &lt;false/&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
</string>
		<key>Info.plist:LaunchScreen</key>
		<string>&lt;key&gt;UILaunchStoryboardName&lt;/key&gt;
&lt;string&gt;LaunchScreen&lt;/string&gt;
</string>
		<key>../fastlane/Fastfile</key>
		<dict>
			<key>Path</key>
			<string>fastlane/Fastfile</string>
			<key>Group</key>
			<string>Non-iOS Resources</string>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>Path</key>
			<string>Podfile</string>
			<key>Group</key>
			<string>Non-iOS Resources</string>
		</dict>
		<key>../.gitignore</key>
		<dict>
			<key>Path</key>
			<string>.gitignore</string>
			<key>Group</key>
			<string>Non-iOS Resources</string>
		</dict>
		<key>../.swiftlint.yml</key>
		<dict>
			<key>Path</key>
			<string>.swiftlint.yml</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>Resources/Base.lproj/LaunchScreen.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Resources/Base.lproj/LaunchScreen.storyboard</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>
		<key>Resources/Base.lproj/Localization.strings</key>
		<dict>
			<key>Path</key>
			<string>Resources/Base.lproj/Localization.strings</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
		</dict>
		<key>Resources/Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Resources/Images.xcassets</string>
			<key>AssetGeneration</key>
			<array>
				<dict>
					<key>Type</key>
					<string>appicon</string>
					<key>Name</key>
					<string>AppIcon</string>
					<key>Platforms</key>
					<dict>
						<key>iOS</key>
						<string>true</string>
					</dict>
				</dict>
			</array>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Sources/AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/AppDelegate.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
			</array>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
		<key>Sources/BusinessLayer/Configuration.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Configuration.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Navigation/NavigationManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Navigation/NavigationManager.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Navigation</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Navigation/NavigationContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Navigation/NavigationContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Navigation</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Networking/NetworkManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Networking/NetworkManager.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Networking</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Networking/NetworkContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Networking/NetworkContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Networking</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Networking/API/AuthServicesRequest.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Networking/API/AuthServicesRequest.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Networking</string>
				<string>API</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Networking/Plugins/NetworkAccessTokenPlugin.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Networking/Plugins/NetworkAccessTokenPlugin.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Networking</string>
				<string>Plugins</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Networking/Plugins/NetworkErrorPlugin.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Networking/Plugins/NetworkErrorPlugin.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Networking</string>
				<string>Plugins</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/PushNotifications/PushNotificationsManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/PushNotifications/PushNotificationsManager.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>PushNotifications</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/PushNotifications/PushNotificationsContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/PushNotifications/PushNotificationsContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>PushNotifications</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Session/SessionManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Session/SessionManager.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Session</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Session/SessionContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Session/SessionContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Session</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Auth/AuthCotract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Auth/AuthCotract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Auth</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/Auth/AuthManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/Auth/AuthManager.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>Auth</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/URLActions/URLActionsManager.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/URLActions/URLActionsManager.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>URLActions</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/URLActions/URLActionsContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/URLActions/URLActionsContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
				<string>URLActions</string>
			</array>
		</dict>
		<key>Sources/BusinessLayer/Services/ServicesContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/BusinessLayer/Services/ServicesContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>BusinessLayer</string>
				<string>Services</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Extensions/JSONDecoder+iso8601.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Extensions/JSONDecoder+iso8601.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Extensions</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Extensions/JSONEncoder+iso8601.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Extensions/JSONEncoder+iso8601.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Extensions</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Extensions/UIImageView+URL.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Extensions/UIImageView+URL.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Extensions</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Extensions/UIVIew+Constraints.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Extensions/UIVIew+Constraints.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Extensions</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/CancellationToken.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/CancellationToken/CancellationToken.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>CancellationToken</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/Network/NetworkError.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/Network/NetworkError.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/Network/NetworkProgress.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/Network/NetworkProgress.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/Network/NetworkProvider.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/Network/NetworkProvider.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/Network/NetworkProviderBuilder.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/Network/NetworkProviderBuilder.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/Network/NetworkRequestCancellation.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/Network/NetworkRequestCancellation.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/Network/NetworkTargetRoute.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/Network/NetworkTargetRoute.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Sources/CoreLayer/Utilities/Network/NetworkTargetType.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/CoreLayer/Utilities/Network/NetworkTargetType.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>CoreLayer</string>
				<string>Utilities</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Sources/PresentationLayer/Base/BaseContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/PresentationLayer/Base/BaseContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>PresentationLayer</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Sources/PresentationLayer/Base/BaseNavigationController.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/PresentationLayer/Base/BaseNavigationController.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>PresentationLayer</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Sources/PresentationLayer/Base/BaseRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/PresentationLayer/Base/BaseRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>PresentationLayer</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Sources/PresentationLayer/Base/BaseViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/PresentationLayer/Base/BaseViewController.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>PresentationLayer</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Sources/PresentationLayer/Main/MainContract.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/PresentationLayer/Main/MainContract.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>PresentationLayer</string>
				<string>Main</string>
			</array>
		</dict>
		<key>Sources/PresentationLayer/Main/MainPresenter.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/PresentationLayer/Main/MainPresenter.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>PresentationLayer</string>
				<string>Main</string>
			</array>
		</dict>
		<key>Sources/PresentationLayer/Main/MainRouter.swift</key>
		<dict>
			<key>Path</key>
			<string>Sources/PresentationLayer/Main/MainRouter.swift</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
				<string>PresentationLayer</string>
				<string>Main</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
